{% extends "base.html" %}
{% block title %}Вікторини{% endblock %}
{% block content %}

<h2>{{ welcome_text }}</h2>
<a href="{% url 'create_quiz' %}" class="btn btn-primary mb-3">Створити нову вікторину</a>

<ul class="list-group">
  {% for quiz in quizzes %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>{{ quiz.title }}</div>
      <div class="btn-group">
        <a href="{% url 'enter_name' quiz.id %}" class="btn btn-success btn-sm">Пройти</a>
        {% if quiz.creator == user or user.is_staff %}
          <a href="{% url 'edit_quiz' quiz.id %}" class="btn btn-warning btn-sm">Редагувати</a>
          <a href="{% url 'add_questions' quiz.id %}" class="btn btn-primary btn-sm">+ Питання</a>
          <a href="{% url 'quiz_results_admin' quiz.id %}" class="btn btn-secondary btn-sm">Результати</a>
          <a href="{% url 'delete_quiz' quiz.id %}" class="btn btn-danger btn-sm">Видалити</a>
        {% endif %}
      </div>
    </li>
  {% empty %}
    <li class="list-group-item">Поки що немає вікторин</li>
  {% endfor %}
</ul>

{% endblock %}